{% extends "emails/base.html" %}
{% block title %}Новый отзыв - Belvra{% endblock %}
{% block content %}
<h2>Новый отзыв</h2>
<p>Здравствуйте, {{ master_name }}!</p>
<p>Клиент <strong>{{ client_name }}</strong> оставил вам отзыв.</p>
<div class="info-card">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="padding: 6px 0; color: #9d174d; font-weight: 600; width: 120px;">Оценка:</td>
            <td style="padding: 6px 0; color: #333333;">
                {% for i in "12345" %}{% if forloop.counter <= rating %}&#9733;{% else %}&#9734;{% endif %}{% endfor %}
                ({{ rating }}/5)
            </td>
        </tr>
        {% if comment %}
        <tr>
            <td style="padding: 6px 0; color: #9d174d; font-weight: 600; vertical-align: top;">Комментарий:</td>
            <td style="padding: 6px 0; color: #333333;">{{ comment }}</td>
        </tr>
        {% endif %}
    </table>
</div>
<p style="text-align: center;">
    <a href="{{ frontend_url }}/master/reviews" class="btn">Посмотреть отзывы</a>
</p>
{% endblock %}
